html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p
{
	font-size:1em;
	line-height:1.5em;
}
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #3e454c;
  background-color: #ffffff;
}
body::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: #1784c7;
  text-decoration: none!important;
}
td a[aria-label="Update"] span, td a[aria-label="Delete"] span{
  font-family: "Open Sans", sans-serif;
}
a:hover{text-decoration:none;}
input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
h3
{	
	font-size:1.2em;
}

/* -------------------------------- 

Main Page Content

-------------------------------- */
.cd-main-content .content-wrapper {
  padding: 45px 15px;
}
@media only screen and (max-width: 768px) {
  .cd-main-content .content-wrapper {
}
}
.cd-main-content .content-wrapper h1 {
  font-size: 2rem;
}
.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 768px) {
  .cd-main-content .content-wrapper {
    margin-left: 150px;
    padding-top: 65px;
  }
  .cd-main-content .content-wrapper h1 {
    font-size: 3rem;
    font-weight: 300;
	color:#666666;
  }
  .cd-main-content::before {
    content: 'tablet';
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content .content-wrapper {
    margin-left: 250px;
  }
  .cd-main-content::before {
    content: 'desktop';
  }
}

/* -------------------------------- 

Header

-------------------------------- */
.cd-main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #eeeeee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 768px) {
  .cd-main-header {
    position: fixed;
    height: 55px;
  }
}

.cd-logo {
  float: left;
  display: block;
  padding:12px 20px;
  height:100%;
}
.cd-logo img, .cd-logo svg {
  display: block;
  height:100%;
}
@media only screen and (max-width: 768px) {
  .cd-logo {
	  padding:8px 20px;
  }
}

.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 12px;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #aaaaaa;
}
.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(51, 51, 51, 0);
}
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: #666666;
}
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}
@media only screen and (min-width: 768px) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-search {
  position: relative;
  margin: 1.2em 5% 0.6em;
}
.cd-search.is-hidden {
  opacity: 0;
}
.cd-search::before {
  /* lens icon */
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url(../img/cd-search.svg) no-repeat 0 0;
}
.cd-search input {
  padding-left: 32px;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-search input:focus {
  outline: none;
}
@media only screen and (min-width: 768px) {
  .cd-search {
    float: left;
    display: inline-block;
    width: 250px;
    height: 100%;
    margin: 0 0 0 2.5em;
  }
  .cd-search.is-hidden {
    /* reset style */
    opacity: 1;
  }
  .cd-search::before {
    background-position: 0 -16px;
    left: 1em;
  }
  .cd-search form, .cd-search input {
    height: 100%;
    width: 100%;
  }
  .cd-search input {
    border: none;
    padding-left: 2.6em;
    border-radius: 0;
    background-color: #5cb85c;
    border-left: 1px solid #4cae4c;
    color: #ffffff;
  }
  .cd-search input::-webkit-input-placeholder {
    color: #777c81;
  }
  .cd-search input::-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-ms-input-placeholder {
    color: #777c81;
  }
}

/* -------------------------------- 

Top Navigation

-------------------------------- */
.cd-nav {
  /* top nav - not visible on mobile devices */
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-nav {
    display: block;
    float: right;
    height: 100%;
  }
}

.cd-top-nav > li > a::before {
  /* reset style */
  display: none;
}
.cd-top-nav > li a {
  padding: 1em 5% !important;
}
.cd-top-nav img {
  /* avatar image */
  position: absolute;
  left: 1.8em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-top-nav {
    height: 100%;
  }
  .cd-top-nav a {
    display: block;
    font-size: 1.4rem;
    color: #888888;
  }
  .cd-top-nav > li {
    display: inline-block;
    margin-right: 1em;
    height: 100%;
  }
  .cd-top-nav > li:last-of-type {
    margin-right: 0;
  }
  .cd-top-nav > li a {
    padding: 1em .6em !important;
  }
  .cd-top-nav img {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .cd-top-nav .account li:not(.has-children) a{
	  border-bottom:1px solid #dddddd;
  }
  .cd-top-nav li:not(.has-children) a:hover {
    background:#f5f5f5;
  }
}
.cd-top-nav .has-children ul li:hover
{
	
}

/* -------------------------------- 

Sidebar

-------------------------------- */
.cd-side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #2c3136;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-side-nav > ul {
  padding: 0.6em 0;
}
.cd-side-nav > ul:last-of-type {
  padding-bottom: 0;
}
.cd-side-nav .cd-label, .cd-side-nav a {
  display: block;
  padding: 1em 5%;
}
.cd-side-nav .cd-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #646a6f;
  font-size: 1rem;
  letter-spacing: .1em;
}
.cd-side-nav a {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
}
.cd-side-nav ul.cd-top-nav > li:last-of-type > a {
  border-bottom: none;
}
.cd-side-nav > ul > li > a {
  padding-left: calc(5% + 24px);
  border-bottom: 1px solid #373d44;
}
.cd-side-nav > ul > li > a::before {
  /* icon before item name */
  position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url(../img/cd-nav-icons.svg) no-repeat 0 0;
}
.cd-side-nav > ul > li.overview > a::before {
  background-position: -64px 0;
}
.cd-side-nav > ul > li.notifications > a::before {
  background-position: -80px 0;
}
.cd-side-nav > ul > li.comments > a::before {
  background-position: -48px 0;
}
.cd-side-nav > ul > li.bookmarks > a::before {
  background-position: -32px 0;
}
.cd-side-nav > ul > li.images > a::before {
  background-position: 0 0;
}
.cd-side-nav > ul > li.users > a::before {
  background-position: -16px 0;
}
.cd-side-nav .count {
  /* notification badge */
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(5% + 16px + 0.4em);
  padding: 0.2em 0.4em;
  background-color: #970202;
  border-radius: .25em;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.cd-side-nav .action-btn a {
  display: block;
  margin: 0 5%;
  padding: 1em 0;
  background-color: #970202;
  border-radius: .25em;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.cd-side-nav .action-btn a::before {
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-side-nav {
    /*position: relative;*/
    float: left;
    top: auto;
    width: 150px;
    min-height: 100vh;
    padding-top: 55px;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
  }
  .cd-side-nav.nav-is-visible {
    box-shadow: none;
  }
  .cd-side-nav.is-fixed {
    position: fixed;
  }
  .cd-side-nav > ul {
    /* reset style */
    padding: 0;
  }
  .cd-side-nav .cd-label {
    /* remove labels on minified version of the sidebar */
    display: none;
  }
  .cd-side-nav a {
    font-size: .9em;
    text-align: center;
  }
  .cd-side-nav > ul > li > a {
    padding: calc(2em + 24px) 0 2.4em;
  }
  .cd-side-nav > ul > li > a::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.4em;
  }
  .cd-side-nav .active > a {
    /* current page */
    box-shadow: inset 3px 0 0 #970202;
    background-color: #33383e;
  }
  .cd-side-nav .action-btn a {
    margin: 1em 10% 0;
  }
  .cd-side-nav .count {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 0;
    top: 2em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: calc(50% + 5px);
    right: auto;
    color: transparent;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-side-nav {
    width: 250px;
  }
  .cd-side-nav > ul {
    padding: 0.6em 0;
  }
  .cd-side-nav > ul > li:not(.action-btn):hover > a {
    background-color: #33383e;
  }
  .cd-side-nav > ul > li > a {
    padding: 1.5em 1em 1.5em 42px;
    text-align: left;
    border-bottom: none;
  }
  .cd-side-nav > ul > li > a::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 18px;
  }
  .cd-side-nav .cd-label {
    display: block;
    padding: 1em 18px;
  }
  .cd-side-nav .action-btn {
    text-align: left;
  }
  .cd-side-nav .action-btn a {
    margin: 0 18px;
  }
  .no-touch .cd-side-nav .action-btn a:hover {
    background-color: #ae1616;
  }
  .cd-side-nav .count {
    /* reset style */
    color: #ffffff;
    height: auto;
    width: auto;
    border-radius: .25em;
    padding: .2em .4em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    left: auto;
    box-shadow: none;
  }
}

.has-children ul {
  position: relative;
  width: 100%;
  display: none;
  background-color: #1c1f22;
}
.has-children > a::after {
  /* arrow icon */
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/cd-arrow.svg);
}
.has-children.selected > ul {
  display: block;
}
.has-children.selected > a::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .has-children {
    position: relative;
  }
  .has-children ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 160px;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .has-children ul a {
    text-align: left;
    border-bottom:1px solid #1a1a1a;;
    padding: 1.5em;
  }
  .no-touch .has-children ul li:hover {
    background:#33383e;
  }
  .has-children > a::after {
    display: none;
  }
  .cd-side-nav .has-children.selected > a {
    /* focus state -> show sub pages */
    background-color: #33383e;
  }
  .cd-top-nav .has-children {
    position: relative;
    background-color: #dddddd;
  }
  .cd-top-nav .has-children > a {
    height: 100%;
    padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
    line-height: 55px;
	width:200px;
  }
  .cd-top-nav .has-children > a::after {
    display: block;
    right: 1.8em;
  }
  .cd-top-nav .has-children ul {
    background-color: #eeeeee;
    width: 200px;
    top: 100%;
    right: 0;
    left: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  .cd-top-nav .has-children ul a {
    padding-left: 18px !important;
  }
}
@media only screen and (min-width: 1170px) {
  .has-children > ul {
    width: 100%;
    z-index: 1;
  }
  .has-children ul a {
    padding-left: 18px;
  }
  .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none;
  }
  .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
    /* show subnavigation on hover */
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

/*Fluid Width Rules*/
.w100	{width:100%;}
.w95	{width:95%;}
.w90	{width:90%;}
.w85	{width:85%;}
.w80	{width:80%;}
.w75	{width:75%;}
.w70	{width:70%;}
.w65	{width:65%;}
.w60	{width:60%;}
.w55	{width:55%;}
.w50	{width:50%;}
.w45	{width:45%;}
.w40	{width:40%;}
.w35	{width:35%;}
.w30	{width:30%;}
.w25	{width:25%;}
.w20	{width:20%;}
.w15	{width:15%;}
.w10	{width:10%;}
.w5		{width:5%;}
.w33	{width:33.33%;}
.w66	{width:66.66%;}

/*Fluid Height Rules*/
.h100 	{height:100%;}

/*Positioning Rules*/
.left	{float:left;}
.right	{float:right;}
.center	
{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

/*Padding Rules*/
.pa5	{padding:5px;}
.pa10	{padding:10px;}
.pa15	{padding:15px;}
.pa20	{padding:20px;}
.pa25	{padding:25px;}

.pl5	{padding-left:5px;}
.pl10	{padding-left:10px;}
.pl15	{padding-left:15px;}
.pl20	{padding-left:20px;}
.pl25	{padding-left:25px;}

.pr5	{padding-right:5px;}
.pr10	{padding-right:10px;}
.pr15	{padding-right:15px;}
.pr20	{padding-right:20px;}
.pr25	{padding-right:25px;}

.pt5	{padding-top:5px;}
.pt10	{padding-top:10px;}
.pt15	{padding-top:15px;}
.pt20	{padding-top:20px;}
.pt25	{padding-top:25px;}

.pb5	{padding-bottom:5px;}
.pb10	{padding-bottom:10px;}
.pb15	{padding-bottom:15px;}
.pb20	{padding-bottom:20px;}
.pb25	{padding-bottom:25px;}

/*Margin Rules*/
.ma5	{margin:5px;}
.ma10	{margin:10px;}
.ma15	{margin:15px;}
.ma20	{margin:20px;}
.ma25	{margin:25px;}

.ml5	{margin-left:5px;}
.ml10	{margin-left:10px;}
.ml15	{margin-left:15px;}
.ml20	{margin-left:20px;}
.ml25	{margin-left:25px;}

.mr5	{margin-right:5px;}
.mr10	{margin-right:10px;}
.mr15	{margin-right:15px;}
.mr20	{margin-right:20px;}
.mr25	{margin-right:25px;}

.mt5	{margin-top:5px;}
.mt10	{margin-top:10px;}
.mt15	{margin-top:15px;}
.mt20	{margin-top:20px;}
.mt25	{margin-top:25px;}
.mb5	{margin-bottom:5px;}
.mb10	{margin-bottom:10px;}
.mb15	{margin-bottom:15px;}
.mb20	{margin-bottom:20px;}
.mb25	{margin-bottom:25px;}


/*Color Rules*/
.bgc1	{background:#f5f5f5;}
.bgc2	{background:#333333;}
.bgc3	{background:#aaaaaa;}
.tc1	{color:#ffffff;}
.tc2	{color:#333333;}
.tc3	{color:#aaaaaa;}

/*Border Rules*/
.br		{border-right:1px solid #d3d3d3;}
.bt		{border-top:1px solid #d3d3d3;}
.bl		{border-left:1px solid #d3d3d3;}
.bb		{border-bottom:1px solid #d3d3d3;}
.ba		{border:1px solid #d3d3d3;}
.r5		{-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;}
.r10	{-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;}
.r15	{-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;}

/*Display Rules*/
.none	{display:none;}
.inline	{display:inline-block;}
.block	{display:block;}

.uppercase	{text-transform:uppercase;}
.strike		{text-decoration:line-through;}
.tcenter	{text-align:center;}
.tjustify	{text-align:justify;}
.italic		{font-style:italic;}

/* Input Rules */
form label
{
    font-size:.8em;
    height:25px;
	line-height:25px;
    color:#666666;
    font-weight:bold;
	display:block;
	margin-bottom:5px;
}
form .input
{
	background:#FFFFFF;
	height:35px;
	border:1px solid #d3d3d3;
	padding:6px 8px;
	margin:0 0 10px 0;
	overflow:hidden;
}
input[placeholder]
{
	color:#aaaaaa;
}
form .textarea
{
	background:#FFFFFF;
	height:100px;
	border:1px solid #d3d3d3;
	padding:15px;
	margin:10px 0;
	overflow:hidden;
    width:100%;
}
form textarea
{
	min-height:100px;
}
form input, select, textarea
{
	background-color:transparent;
    border:none;
	border:0;
	border-color: transparent;
	color:#666666;
    font-size:1em;
}
form select
{
	width:100%;
}
form input:focus, select:focus, textarea:focus
{
	outline:none;
}
form input:not([type="radio"]):not([type="checkbox"]):not([type="submit"])
{
     width:100%;
}
.focus
{
    border-color:#00AEEF!important;
}
.error-focus
{
    border-color:red!important;
}
.error-msg
{
    color:red;
    font-weight:bold;
    font-size:.8em;
    display:none;
	float:left;
	width:100%;
}

/* CHECKBOX STYLES */

.chk-container
{
    height:30px;
    display:inline-block;
    margin:10px 0;
}
.chk-box-wrap
{
    float:left;
    height:30px;
    width:30px;
    -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;
    border:1px solid #d3d3d3;
}
.chk-box
{
    -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;
    height:100%;
    width:100%;
    border:3px solid #FFFFFF;
    background:#FFFFFF;
    cursor:pointer;
}
.chk-box input
{
    height:100%;
    width:100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    opacity: 0;
    cursor:pointer;
}

.chk-label
{
    float:left;
    margin-left:10px;
    line-height:30px;
	font-size:.8em;
	color:#666666;
	font-weight:bold;
}

.grid-view .summary
{
	display:none;
}

.dataTables_wrapper label
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background:#f5f5f5;
	padding:1em 1.5em;
	margin-top:15px;
	margin-bottom:15px;
}
.dataTables_wrapper select
{
	background:#ffffff;
	border:1px solid #eeeeee;
	margin:0 5px;
	height:30px;
}
.dataTables_wrapper input
{
	border:1px solid #eeeeee;	
}
thead
{

}

.index-wrap
{
	padding:35px;
}

.btn
{
	padding:10px 25px;
	font-size:.9em;
	background-color: #c34242;
	color:white;
}
.btn:hover
{
	background:#dc4e4e;
	color:white;
}
.success-message
{
	color:white;
	font-size:1em;
	font-weight:bold;
	text-align:center;
	padding:15px;
	border-radius:5px;
	background:#7ace7a;
	width:100%;
	float:left;
	margin-bottom:25px;
}

.form-control
{
	border:1px solid #dddddd;
	box-shadow:inset 0px 0px 0px rgba(255, 255, 255, 0);
	height:40px;
}

@media only screen and (min-width: 480px) {
	.dynamic-width{width:90%}
}
@media only screen and (min-width: 760px) {
	.dynamic-width{width:45%}
}
@media only screen and (min-width: 1120px) {
	.dynamic-width{width:35%}
}
@media only screen and (min-width: 1440px) {
	.dynamic-width{width:25%}
}

.site-login
{
	margin-top:75px;
	padding:0 25px;
}
.main-btn
{
	display: block;
	padding:10px 25px;
    background-color: #970202;
    border-radius: .25em;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.main-btn:hover
{
	background:#a21c1c;
	color:white;
}
.new-product
{
}
.new-product svg
{
	height:150px;
	display:block;
	margin:25px auto 0 auto;
}
h2
{
	font-size:1.8em;
	line-height:1.6em;
	color:#666666;
	
}
.dash-intro-wrap .dash-intro-item img
{
	width:150px;
}
@media only screen and (max-width: 1024px) {
	.index-wrap
	{
		padding:20px;
	}
	.dash-intro-wrap
	{
		padding:0px;
	}
	.dash-intro-btn
	{
		margin:0;
	}
	.dash-intro-item .btn
	{
		width:100%;
		text-align:center;
		padding:25px 0;
	}
	.dash-intro-item h1, .dash-intro-item p, .dash-intro-item img
	{
		display:none;
	}
	.dash-intro-item .dash-intro-container
	{
		padding:5px;
		background:none;
	}
}
@media only screen and (max-width: 720px) {
	.respond-width{width:100%; padding-left:0; padding-right:0;}
}
@media only screen and (max-width: 640px) 
{
	.dash-intro-item
	{
		width:100%;
	}
}
	